:root {
  --clr-primary: #7f1d1d;
  --clr-secondary: #fcf6f5;
  --clr-neutral-lt: #ffffff;
  --clr-neutral-dk: #424242;
  --ff-base: Inter, Roboto, 'Helvetica Neue',
    'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--clr-neutral-dk);
  font-family: var(--ff-base);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body>.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.container>.sidebar {
  background: var(--clr-primary);
  color: var(--clr-neutral-lt);
  grid-row: span 2;
}

.container>.main-content {
  background: var(--clr-secondary);
}