:root {
  --clr-primary: #7f1d1d;
  --clr-secondary: #fcf6f5;
  --clr-neutral-lt: #ffffff;
  --clr-neutral-dk: #424242;
  --header-shadow: 10px -4px 16px 0px var(--clr-neutral-dk);
  --input-border: 1px solid #dcdcdc;
  --ff-base: Inter, Roboto, 'Helvetica Neue',
    'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--clr-neutral-dk);
  font-family: var(--ff-base);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

label {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
  cursor: pointer;
}

body>.container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}

.container>* {
  padding: 1rem;
}

.container>.sidebar {
  background: var(--clr-primary);
  color: var(--clr-neutral-lt);
  grid-row: span 2;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 32px;
  font-weight: 600;
}

.sidebar .logo>a {
  font-size: 1.7rem;
}

.nav li>a {
  font-size: 1.2rem;
}

.container>.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 45px 1fr;
  row-gap: 16px;
  position: relative;
  box-shadow: var(--header-shadow);
}

.header>div:not(:last-child) {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header p {
  font-weight: 600;
}

.search-bar label>img {
  width: 1.5rem;
  height: 1.5rem;
}

.search-bar input[type='search'] {
  border: var(--input-border);
  border-radius: 30rem;
  padding: .2rem;
  width: 70%;
}

.header>.menu {
  justify-self: center;
}

.menu>p {
  font-size: 1.1rem;
}

.user-info p:last-of-type {
  font-size: 1.5rem;
}

.header .btn-container {
  align-self: center;
  justify-self: center;
  display: flex;
  gap: 16px;
}

.btn-container button {
  background: var(--clr-primary);
  color: var(--clr-secondary);
  border: 2px solid transparent;
  padding: 8px 16px;
  border-radius: 30rem;
  width: 6rem;
  font-weight: 600;
  text-align: center;
}

.btn-container button:hover {
  background: var(--clr-secondary);
  border: 2px solid var(--clr-primary);
  color: var(--clr-primary);
}

.container>.main-content {
  background: var(--clr-secondary);
}